<script setup>
import { ref } from 'vue'
import { CdxButton } from '@wikimedia/codex'
import axios from 'axios'

import Function from './Function.vue'
import Details from './Details.vue'
import Type from './Type.vue'
import LocationDuration from './LocationDuration.vue'
import Regulation from './Regulation.vue'

// Function data
const instrumentFunction = defineModel('instrumentFunction');
const instrumentName = ref( '' );
const slug = ref( '' );

// Type data
const instrumentType = ref( 'baseline' );
const samplingUnit = ref( '' );
const samplingRate = ref( 0 );
const contextualAttributes = ref( '' );

// Details data
const description = ref( '' );
const owner = ref( '' );
const purpose = ref( '' );

// Location and Duration data
const location = ref( '' );
const durationAmount = ref( '' );
const durationTime = ref( '' );
const startDate = ref( '2024-10-08' );

// Regulation data
const securityLegalApproval = ref( '' );
const complianceRequirements = ref( '' );
const acknowledgement = ref( false );

async function submit() {
    const formData = {
        instrumentName: instrumentName.value,
        slug: slug.value,
        description: description.value,
        owner: owner.value,
        purpose: purpose.value,
        startDate: startDate.value,
        durationAmount: durationAmount.value,
        durationTime: durationTime.value,
        complianceRequirements: complianceRequirements.value,
        sampleUnit: samplingUnit.value,
        sampleRate: samplingRate.value,
        environments: location.value,
        contextualAttributes: contextualAttributes.value
    }
    const post = await axios({
        method: 'post',
        url: 'http://localhost:8080/instruments',
        data: formData
    }).then(response => {
        console.log("Form submitted successfully");
    }).catch(error => {
        console.log("Error found: ", error);
    });
}
</script>

<template>
    <Suspense>
        <div class="body">
            <form @submit.prevent="submit">
                <!-- GET STARTED SECTION -->
                <div class="section">
                    <Function
                        v-model:instrument-name="instrumentName"
                        v-model:instrument-function="instrumentFunction"
                        v-model:slug="slug"
                    />
                </div>

                <!-- DETAILS SECTION -->
                <div class="section">
                    <Details
                        v-model:description="description"
                        v-model:owner="owner"
                        v-model:purpose="purpose"
                    />
                </div>

                <!-- TYPE SECTION -->
                <div class="section">
                    <Type
                        v-model:instrument-function="instrumentFunction"
                        v-model:instrument-type="instrumentType"
                        v-model:sampling-unit="samplingUnit"
                        v-model:sampling-rate="samplingRate"
                        v-model:contextual-attributes="contextualAttributes"
                    />
                </div>

                <!-- LOCATION and DURATION SECTION -->
                <div class="section">
                    <LocationDuration
                        v-model:location="location"
                        v-model:duration-amount="durationAmount"
                        v-model:duration-time="durationTime"
                        v-model:start-date="startDate"
                    />
                </div>

                <!-- REGULATION SECTION -->
                <div class="section">
                    <Regulation
                        v-model:security-legal-approval="securityLegalApproval"
                        v-model:compliance-requirements="complianceRequirements"
                        v-model:acknowledgement="acknowledgement"
                    />
                </div>

                <!-- SUBMIT -->
                <div class="section">
                    <cdx-button action="progressive" weight="primary">
                        Launch instrument
                    </cdx-button>
                </div>
            </form>
        </div>
        <template #fallback>
            <div>Loading...</div>
        </template>
    </Suspense>
</template>
