<template>
    <div class="sectiontitle">Regulation</div>
    <cdx-message>
        Data will be automatically discarded after 90 days of storage.
    </cdx-message>

    <!-- REGULATION: Security and Legal -->
    <cdx-field>
        <cdx-text-input v-model="securityLegalApproval" />
        <template #label>
            Security and Legal
        </template>
        <template #description>
            Provide a link to documentation including review and approval from Security and Legal.
        </template>
    </cdx-field>

    <!-- REGULATION: Compliance requirements -->
    <cdx-field>
        <cdx-text-input v-model="complianceRequirements" />
        <template #label>
            Compliance requirements
        </template>
        <template #description>
            What data compliance requirements should be added to this instrument?
        </template>
    </cdx-field>

    <!-- REGULATION: Acknowledgement -->
    <cdx-field>
        <cdx-checkbox v-model="acknowledgement">
            By proceeding, I acknowledge that running an instrument has risks.
        </cdx-checkbox>
    </cdx-field>
</template>

<script setup>
import { CdxField, CdxTextInput, CdxMessage, CdxCheckbox } from '@wikimedia/codex';

const securityLegalApproval = defineModel('securityLegalApproval');
const complianceRequirements = defineModel('complianceRequirements');
const acknowledgement = defineModel('acknowledgement');
</script>
