<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const router = useRouter()
const route = useRoute()
</script>

<template>
  <h2>Expire Metrics Platform Instrument Configuration</h2>
  TKTK
</template>
