<script setup>
import { ref, onBeforeMount } from 'vue';
import axios from 'axios'

const phabUrl = import.meta.env.VITE_PHABRICATOR_URL
const instruments = ref(null);

onBeforeMount(async () => {
  instruments.value = await axios.get('http://localhost:8080/instruments');
})
</script>

<template>
  <h2>Instrument Catalog</h2>

  <Suspense>
    <div class="cdx-table">
      <div class="cdx-table__header">Instruments</div>
      <div class="cdx-table__table-wrapper">
        <table class="cdx-table__table">
          <thead>
            <th>Name</th>
            <th>Team</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>Progress</th>
            <th>Status</th>
            <th></th>
          </thead>
          <tbody>
            <tr v-for="instrument in instruments.data">
                <td><a :href="phabUrl + '/T361335'" target="_blank">{{ instrument.name }}</a></td>
                <td>{{ instrument.owner }}</td>
                <td>{{ instrument.purpose }}</td>
                <td>{{ instrument.start_date }}</td>
                <td>{{ instrument.progress }}</td>
                <td>{{ instrument.status }}</td>
                <td></td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
    <template #fallback>
      <div>Loading...</div>
    </template>
  </Suspense>
</template>

<style scoped>
.cdx-table {
    color: #202122
}

.cdx-table {
    border: 1px solid #a2a9b1;
    border-radius: 2px
}

.cdx-table__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    box-sizing: border-box;
    min-height: 64px
}

.cdx-table__header {
    padding: 16px 12px
}

.cdx-table__header__caption {
    color: #000;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.25
}

.cdx-table__table-wrapper {
    overflow-x: auto
}

.cdx-table__table {
    min-width: 100%;
    line-height: 1.375;
    border-collapse: collapse
}

.cdx-table__table caption {
    display: block;
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.cdx-table__table caption {
    margin: -1px;
    border: 0;
    padding: 0
}

.cdx-table__table th {
    color: #000
}

.cdx-table__table th,.cdx-table__table td {
    padding: 12px
}

.cdx-table__table th,.cdx-table__table td {
    text-align: left
}

[dir=rtl] .cdx-table__table th,[dir=rtl] .cdx-table__table td {
    text-align: right
}

.cdx-table__table thead th {
    border-bottom: 1px solid #a2a9b1
}

.cdx-table__table thead th {
    text-align: left
}

[dir=rtl] .cdx-table__table thead th {
    text-align: right
}

.cdx-table__table tbody td,.cdx-table__table tbody th {
    vertical-align: top
}

.cdx-table__table tbody td,.cdx-table__table tbody th {
    border-top: 1px solid #c8ccd1
}

.cdx-table__table tbody tr:first-child td,.cdx-table__table tbody tr:first-child th {
    border-top: 0
}

.cdx-table__table tfoot {
    border-top: 1px solid #a2a9b1
}

.cdx-table__footer {
    border-top: 1px solid #a2a9b1;
    padding: 12px
}

</style>
