.subheader {
    width: Fill (984px)px;
    /* height: Hug (70px)px; */
    gap: spacing-50;
    opacity: 0px;
}
h1.title {
    border-bottom: 1px solid #A2A9B1
}
.subtitle {
    width: 984px;
    height: 23px;
    gap: 0px;
    opacity: 0px;
}
.sectiontitle {
    padding: 20px 0 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #A2A9B1;
}
.section {
    margin: 10px 0;
}
.body {
    width: Fill (984px)px;
    /* height: Hug (2,132px)px; */
    gap: spacing-200;
    opacity: 0px;
}
.column-2 {
    padding: 20px 0;
    width: Fill (752px)px;
    /* height: Hug (102px)px; */
    gap: spacing-150;
    opacity: 0px;
}
.column {
    width: 50%;
    float: left;
}
.right {
    padding-left: 20px;
}
.clearfix{
    clear:both
}
.field-group {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #C8CCD1
}
