<h1>Create an instrument</h1>
<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="start_date">Start Date:</label><br>
    <input type="text" id="start_date" name="start_date"><br>
    <label for="end_date">End Date:</label><br>
    <input type="text" id="end_date" name="end_date"><br>
</form>
