<script setup>
import Header from './components/Header.vue'

</script>

<template>
  <header>
    <img alt="MPIC logo" class="logo" src="./assets/mpic_logo.jpg" width="150" height="150" />

    <div class="wrapper">
      <Header title="Metrics Platform Instrument Configurator" />
    </div>
  </header>
  <nav>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/list">Catalog</RouterLink>
    <RouterLink to="/launch">Launch</RouterLink>
    <RouterLink to="/update">Update</RouterLink>
    <RouterLink to="/expire">Exipre</RouterLink>
  </nav>
  <div>
    <strong>Current route path:</strong> {{ $route.fullPath }}
  </div>
  <main>
    <RouterView />
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
